/* universal selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width:100vw;
    height: 100vw;
    background-image: url(/assets/css/img/ClipartKey_2855975.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}
/* to center game */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100vw;
    
  
}
#game{
    background-color: white;
    width: 100vw;
    height: 500px;
}
h1 {
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 250px;
    padding-top: 10px;
}
.container .section{
    width: 25%;
    margin: 8px 50px;
}


.info span , .info h3{
    font-size:1.25rem;
    font-weight: bold;
    font-family: sans-serif;
    color:black;
}

.show{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: #018749;
    border: 2px solid black;
    
}


.show i{
font-size: 100px;
color: black;
}

h2{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.selection{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.selection button{
    margin: 0 20px;
    padding: 25px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    background-color: #018749;
    color: black;
    
}

.selection button:hover{
        border:5px solid #018749;
        font-size: 30px;
    }




/* Styling Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);

}

/*modal-content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 5%;
    width: 50%;
    text-align: center;
}

.modal h3{
    padding: 10px;
    font-size: 1.5rem;
}

.modal p{
    padding: 10px;
}
/*Modal button */
#myBtn{
    margin-left: 10px;
    background-color: white;
    font-size: 2rem;
    padding: 5px;
    color: black;
    font-weight: 700;
    border: 1px;
}
#myBtn:hover{
    border:5px solid #018749;
    font-size: 1.25rem;
}
.close {
    color: #018749;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.computerScore {
    color: black
}



/*media queries */
/* On screens that are 1520px or more */
@media screen and (min-width: 1520px) {
   
    h1{
        margin-top: 250px;
    }
   }
/* On screens that are 801px or more*/
@media screen and (min-width: 801px) {
 .show{
    height: 130px;
 }
.selection button{
 font-size: 25px;
}

}
  /* On screens that are 800px or less*/
@media screen and (max-width: 800px) {
    h1 {
        margin-top: 150px;
     }

     .selection button {
        margin: 10px;
        padding: 10px;
        font-size: 20px;
}
     .info h3{
    font-size:.8rem;
    
}
.modal-content{
    width: 90%;
    height: 450px;
     }

}

 /* On screens that are 644px or less*/
 @media screen and (max-width: 644px) {
.selection{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 200px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}
 }
 /* On screens that are 530px or less */
 @media screen and (max-width: 530px) {
    
    #computerScore {
        font-size: .8rem;
    }
    #playerScore {
        font-size: .8rem;
    }

    .selection{
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        height: 200px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;

 }
.show {
    width: 150px;
}
.modal-content{
width: 90%;
height: 450px;
 }

#myBtn{
font-size: 1.25rem;
}
 }
 /* On screens that are 430px or less */
 @media screen and (min-width: 430px) {
 .container .section {
    width: 25%;
    margin: 8px 50px;
}
.selection{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 200px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}
.container {
    margin-right: 100px;
}

.info h3{
    width: 150px;
 }
 .selection button{
font-size: 1.5rem;
 }

.modal-content{
    width: 90%;
    height: 450px;
}

 }